body {
    background-color: burlywood;
}

h1 {
    text-align: center;
    border: 3px solid;
    border-radius: 10px;
    border-color: rgb(89, 165, 196);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

p {
    text-align: center;
}

